.wp-caption {
    text-align: center;
    font-style: italic;
}

.alignleft {
    float: left;
    margin: 0 10px 5px 0;
}

.alignright {
    float: right;
    margin: 0 0 5px 10px;
}

.aligncenter {
    text-align: center;
}